import classNames from 'classNames'

import styles from './{{ properCase name }}.module.scss'

interface {{ properCase name }}Props {
  className?: string
  children?: React.ReactNode
}

export const {{ properCase name }}: React.FC<{{ properCase name }}Props> = (props) => {
  const { className, children } = props

  return <div className={classNames(className, styles.container)}>{children}</div>
}
