import classNames from 'classNames'

import styles from './{{ properCase name }}.module.scss'

interface {{ properCase name }}Props {
  className?: string
}

export const {{ properCase name }}: React.FC<{{ properCase name }}Props> = (props) => {
  const { className } = props

  return <div className={classNames(className, styles.container)}></div>
}
